<p>
  Dag {{ firstname }},
</p>

<p>Hope you are well,</p>

<p>

Ik moest onlangs aan je denken omdat ik een bericht van {{ bedrijf }} voorbij zag komen. Omdat het alweer even geleden is dat we elkaar persoonlijk gesproken hebben, ben ik benieuwd hoe het staat met jouw plannen voor zowel {{ bedrijf }} als jezelf. Zullen we daar binnenkort onder het genot van een kop koffie of thee eens bij stilstaan?

Als je me wat geschikte tijdstippen doorgeeft, zorg ik dat er een afspraak in de agenda komt. Tot gauw!

Hartelijke groet,

....

ps: Laat me alsjeblieft weten wat je van onze relatie, onze contactfrequentie en dit soort berichten vindt. Dat kan snel en eenvoudig door op dit bericht te reageren of de relevante smiley hieronder aan te klikken.
😀 😐 ☹️ 🤮
</p>
