<p>
  Dag {{ firstname }},
</p>

<p>Hope you are well,</p>

<p>

Wist jij dat het vandaag volgens mijn berekeningen precies {{ jaar }} geleden is dat wij voor het eerst contact met elkaar hadden?

Ik sta overigens open voor correcties, mocht mijn berekening niet kloppen. Maar wat is er veel gebeurd in de tussentijd, vind je niet? Anyway, we spreken elkaar snel weer, maar dit moest ik even kwijt. 

Hartelijke groet,

....

ps: Laat me alsjeblieft weten wat je van onze relatie, onze contactfrequentie en dit soort berichten vindt. Dat kan snel en eenvoudig door op dit bericht te reageren of de relevante smiley hieronder aan te klikken.
😀 😐 ☹️ 🤮
</p>
